
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    line-height:20px;

}
.top-area{
background-color: #efefef;
margin: 0px;
height: 600px;
width: 1800px;
position: relative;
} 
.first-box{
    background-color: rgb(41, 92, 162);
    padding-bottom: 30px;
    padding-top:40px;
    line-height: 18.4px;
    text-align: center;
    width: 700px;
    height: 500px;
    position: absolute;
    left: 550px;
    display: inline-flex;
    flex-direction: column;


}
.first-box>p {
    color: white;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    margin-top: 5px;

}

.progress-bar
{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 125px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#prog1{
    background-color: rgb(185, 250, 255);
    height: 15px;
    width: 250px;
    display: inline-flex;
    margin:0px;
    border-top-left-radius:8px ;
    border-bottom-left-radius: 8px;
}
#prog2{
    background-color:white;
    height: 15px;
    width: 200px;
    display: inline-flex;
    margin: 0px;
    border-top-right-radius:8px ;
    border-bottom-right-radius: 8px;
}
.first-butt{
    background-color:red;
    width: 350px;
    position: relative;
    left: 175px;
    border-top-right-radius:5px ;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius: 5px;
    border: 1px solid white;
}
.first-box>a{
    margin-top: 50px;
}
.greet{
    background-color: rgb(226, 240, 255);
    height: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 30px 0px 30px;
    font-size: 19px;
    line-height: 30px;
    max-width: 600px;
}
img{
    height: 519.188px;
    width: 915px;
}

h3{
    text-align: center;
    font-size: 24px;
}
.exp2{
    max-width: 900px;
}

p{
    font-size: 17px;
}
.last-butt{
    background-color: rgb(214, 33, 49);
    text-align: center;
    padding: 5px;
}
